<div class="field">
  <label>{{ label }}</label>
  <input [type]="inputType" [formControl]="control" />
  <div *ngIf="showErrors()" class="ui pointing red basic label">
    <p *ngIf="control.errors['required']">Value is required</p>
    <p *ngIf="control.errors['minlength']">
      Value entered {{ control.errors["minlength"].actualLength }}
      characters long, but it must be at least
      {{ control.errors["minlength"].requiredLength }}
    </p>
    <p *ngIf="control.errors['maxlength']">
      Value entered {{ control.errors["maxlength"].actualLength }}
      characters long, but it can not be longer than
      {{ control.errors["maxlength"].requiredLength }}
    </p>
    <p *ngIf="control.errors['pattern']">Invalid format</p>
    <p *ngIf="control.errors['nonUniqueUsername']">Username is taken</p>
    <p *ngIf="control.errors['noConnection']">No connection</p>
  </div>
</div>
